<div class="col-md-6 user-container">
    <h2 style="margin: auto"> User Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
    <table class="table table-striped">
        <thead>
        <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.date}}</td>
            <td><button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
                <button class="btn btn-success" style="margin-left: 20px;"> Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>